# Data Science Tools and Ecosystem

In this notebook, Data Sscience tools and Ecosystem are summarized

# Objectives:
1. Create a cell
2. Format a markdown cells with heading style
3. Add commend to code cell

Some of the popular languages that data scientists use are:
   
   1. Python
   2. SQL
   3. R
   4. Go
   5. Java

Some of the commonly used Data Science librararies include:
    1. Pandas
    2. NumPy
    3. Matplotlib
    4. Seaborn
    5. PyTorch
    6. Vegas

# Below are a few examples of evaluating arithematic expresion in python

|Data Science Tools|
|-|
|R Studio|
|Anaconda|
|Jupyter Notebook|

In [ ]:
This is a sample of arithematic expression to multiply then add integers:

In [4]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by dividing by 60

# Author

Ruth Sisi